.header {
    width: 100%;
    padding: 1rem 5%;
    background-color: #fff;
}

.header__container {
    margin: 0 auto;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo-container {
    flex-shrink: 0;
}

.header__logo {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.header__nav {
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.header__nav-item {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s;
}

.header__nav-item:hover {
    color: #007bff;
}

.header__contact {
    font-size: 1rem;
    white-space: nowrap;
    background-color: #007bff;
    padding: 1rem 1rem;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    letter-spacing: 0.15rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    border: none;
    
}

.header__contact:hover {
    background-color: #0056b3;
}

.header__contact-icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.header__button--burger-menu {
    padding: 0.7rem 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    background-color: #007bff;
    font-size: 18px;
    border-radius: 12px;
    transition: all 0.15s ease-in-out;
    display: none;
}

.header__button--burger-menu:hover {
    background-color: #0056b3;
}

@media (max-width: 1000px) {
    .header__contact,
    .header__nav {
        display: none;
    }

    .header__button--burger-menu {
        display: block;
    }

    .header__nav--open {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 10%;
        right: 1rem;
        background-color: #fffefe;
        padding: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        text-align: center;
    }

    .header__nav-item {
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.459);
    }
}