/* Основной контейнер */
.vacancy__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f8f9fa;
}

.container__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Блок вакансии */
.vacancy__block {
    width: 100%;
    max-width: 800px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Заголовок вакансии */
.vacancy__title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Зарплата */
.vacancy__salary {
    font-size: 20px;
    font-weight: bold;
    color: #ff5722;
}

/* Описание вакансии */
.vacancy__text {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

/* Кнопка отклика */
.vacancy__button {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    max-width: 10rem;
    align-self: self-end;
    margin-right: 1rem;
}

.vacancy__button:hover {
    background-color: #0056b3;
}

.vacancy__button--adaptive {
    display: none;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    padding: 8px 10px;
    color: white;
    border: none;
    color: rgb(82, 81, 81);
    background: transparent;
}

.vacancy__button--adaptive:hover {
    text-decoration: underline;
}

.button--remove-vacancy {
    align-self: flex-start;
    padding: 12px 8px;
    border: none;
    font-size: 14px;
    background-color: rgba(250, 66, 66, 0.89);
    transition: all 0.15s ease-in-out;
    color: rgb(241, 241, 241);
    border-radius: 12px;
}

.button--remove-vacancy:hover {
    background-color: rgba(250, 42, 42, 0.89);
}

.vacancy__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.button__add--vacancy {
    border: none;
    padding: 12px 8px;
    border-radius: 12px;
    font-size: 14px;
    background-color: #0056b3;
    color: white;
    transition: all 0.15s ease-in-out;
    margin-bottom: 1rem;
    width: 50%;
}

.button__add--vacancy:hover {
    background-color: #0d4e94;
}

@media (max-width: 799px) {
    .vacancy__button--adaptive {
        display: flex;
    }
}

/* Адаптивность */
@media (max-width: 600px) {
    .vacancy__block {
        padding: 15px;
    }

    .vacancy__title {
        font-size: 20px;
    }

    .vacancy__salary {
        font-size: 18px;
    }

    .vacancy__text {
        font-size: 14px;
    }

    .vacancy__button,
    .button--remove-vacancy {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 401px) {
    .vacancy__button,
    .button--remove-vacancy {
        font-size: 12px;
        padding: 8px 10px;
        text-wrap: nowrap;
    }
}